
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #627EB5;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 650px;
    padding: 30px;
    background-color: #e0eaff;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-image {
    max-width: 40%;
    height: auto;
    margin: 10px 0;
    border-radius: 25px; 
}

/* Header */
header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px;
}

header p {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 10px;
}

/* Section Styling */
section {
    margin: 20px 0;
}

section h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 10px;
}

section p {
    font-size: 1rem;
    color: #666;
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s;
    background-color: #627EB5;
}

.social-links a:hover {
    cursor: pointer;
    background-color: #7C97CC;
}

.social-links a:active {
    cursor: pointer;
    background-color: #596b91;
}

/* Footer */
footer p {
    margin-top: 40px;
    font-size: 0.6rem;
    color: #999;
}
