/* Table of Contents */
.toc {
    border: 4px solid #627EB5;
    border-radius: 8px; /* Round the corners */
    overflow: hidden; /* Ensure content is hidden when collapsed */
}

.toc-header {
    display: flex; /* Align the button and arrow */
    justify-content: space-between; /* Space out elements */
    align-items: center; /* Center vertically */
    background-color: #627EB5; /* Background color */
    padding: 10px; /* Padding for spacing */
    color: #ffffff; /* Text color */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.2s;
}

.toc-header:hover{
    background-color: #7C97CC;
}

.toc-header:active {
    cursor: pointer;
    background-color: #596b91; /* Dark Cornflower Blue */
}

.toc-content {
    display: none; /* Initially hidden */
    padding: 10px; /* Padding for content area */
}

.toc-link {
    display: block; /* Stack the buttons */
    background-color: #e0eaff;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-size: 1rem;
    margin: 5px 0; /* Space between links */
    cursor: pointer;
    transition: background-color 0.2s;
}

a {
    text-decoration: none;
}
