html {
    height: 100%;
    width: 100%;
}
  
body {
    background-color: #000000;
    background-image: url('christmas.jpeg');
    background-size: 2000px;
    background-position: 0%;
    font-size: 20px;
    color: white;
    font-family: "Pixelify Sans";
    text-align: center;
}
  
.mainsquare {
    background-image: url("indexbg.gif");
    background-position: center;
    background-size: 150%;
    opacity: 100%;
    background-color: black;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px;
    position: 0%;
    height: 660px;
    width: 660px;
}

/* #bg1 {
  position: 0%;
  z-index: -1;
}
   */
::selection {
  background-color: rgb(116, 116, 116);
  color: rgb(255, 255, 255);
}

/* #abtbtn {
    background-color: white;
    text-align: center;
    color:black;
    font-family: "Pixelify Sans", sans-serif;
    border-width: 5px;
    font-size: 40px;
    border-color: black;
    height: 100px;
    width: 600px;
    opacity:70%;
}

#abtbtn:hover {
  background-color: rgb(208, 208, 208);
}
#abtbtn:active {
  background-color: rgb(132, 132, 132);
} */

#portbtn {
  background-color: white;
  text-align: center;
  color:black;
  font-family: "Pixelify Sans", sans-serif;
  border-width: 5px;
  font-size: 40px;
  border-color: black;
  height: 100px;
  width: 600px;
  opacity:70%;
}

#portbtn:hover {
background-color: rgb(208, 208, 208);
cursor: pointer;
}
#portbtn:active {
background-color: rgb(132, 132, 132);
cursor: pointer;
}

#certbtn {
  background-color: white;
  text-align: center;
  color:black;
  font-family: "Pixelify Sans", sans-serif;
  border-width: 5px;
  font-size: 40px;
  border-color: black;
  height: 100px;
  width: 600px;
  opacity:70%;
}

#certbtn:hover {
background-color: rgb(208, 208, 208);
cursor: pointer;
}
#certbtn:active {
background-color: rgb(132, 132, 132);
cursor: pointer;
}

/* #unbtn {
  background-color: white;
  text-align: center;
  color:black;
  font-family: "Pixelify Sans", sans-serif;
  border-width: 5px;
  font-size: 40px;
  border-color: black;
  height: 100px;
  width: 600px;
  opacity:100%;
}

#unbtn:hover {
background-color: rgb(208, 208, 208);
}
#unbtn:active {
background-color: rgb(132, 132, 132);
} */